@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@300&family=Syne:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@300&family=Raleway:wght@200;400&family=Syne:wght@600&display=swap');
#root {
  max-width: 1880px;
  margin: 0 auto;
  text-align: center;
}
.App {
  font-family: 'Handlee', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Syne', sans-serif;
}

/* NavBar styling */
.navBarElements {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  margin: 0 90px;
  /* background-color: #ffffff; */
}
.listNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-right: 263px;
}
.elementNavBar {
  padding: 0 30px;
  color: #91948f;
}
.elementNavBar:hover {
  color: #ffffff;
}
#cartItem {
  margin-right: -98px;
}
#loginItem {
  margin-right: 106px;
}
.navBarElements h3 {
  padding-right: 20px;
  color: white;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.MuiSvgIcon-root {
  color: #ffffff;
}

/* Hero Section styling */
.Home {
  background-image: url('../public/newBackground.jpg');
  background-position: center;
  background-size: cover;
  height: 990px;
}
.heroSection {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  background: rgba(248, 248, 248, 0.77);
  backdrop-filter: blur(4.5px);
  width: 489px;
  height: 358px;
  flex-shrink: 0;
  margin: 15rem 0;
  margin-left: 3rem;
  margin-bottom: 500px;
}
.heroSection h1 {
  text-align: start;
  color: #506d3b;
  font-size: 45px;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 15px;
}
.heroSection h1 span {
  color: #82a486;
}
.heroSection p {
  font-family: 'Raleway', sans-serif;
  color: #5a6136;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%;
  text-align: start;
  align-self: start;
  margin-left: 30px;
  padding-bottom: 15px;
}
.heroSection button {
  align-self: start;
  margin-left: 30px;
  width: 190px;
  height: 50px;
  background-color: #354733;
  border-radius: 7px;
  color: white;
}
.heroSection button:hover {
  background-color: #82a486;
  cursor: pointer;
}
svg {
  fill: linear-gradient(0deg, #fff 6.17%, rgba(255, 255, 255, 0) 74.45%);
  width: 1783px;
  height: 206px;
}
svg path {
  width: 1783px;
  height: 206px;
}
.savElement {
  width: 1057px;
  height: 206px;
  flex-shrink: 0;
  margin-bottom: 20px;
}

/* PlantsCare section */
.plantsCare {
  display: flex;
  padding: 0 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 82px;
  align-self: stretch;
}
.plantsCareTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.plantsCareTitle h2 {
  color: #8a9b6e;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}
.plantsCareTitle p {
  color: #afb2aa;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 174.188%; /* 27.87px */
  letter-spacing: 0.08px;
}
.plantsCardContainer {
  display: flex;
  align-items: flex-start;
  gap: 82px;
  align-self: stretch;
}
.cardsInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
}
.cardImg {
  border-radius: 50px;
  background: var(--primary-lunar-green, #354733);
  display: flex;
  width: 72px;
  height: 72px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardsInfo p,h6{
  font-family: 'Raleway', sans-serif;
}
.MuiSvgIcon-root{
  color:#e5fee8;
}