@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@300&family=Syne:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@300&family=Raleway:wght@200;400&family=Syne:wght@600&display=swap');
#root {
  max-width: 1880px;
  margin: 0 auto;
  text-align: center;
}
.App {
  font-family: 'Handlee', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Syne', sans-serif;
}

/* NavBar styling */
.navBarElements {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  margin: 0 90px;
  /* background-color: #ffffff; */
}
.listNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-right: 216px;
}
.elementNavBar {
  padding: 0 30px;
  color: #91948f;
}
.elementNavBar:hover {
  color: #ffffff;
}
#cartItem {
  margin-right: -88px;
}
#loginItem {
  margin-right: 106px;
}
.navBarElements h3 {
  padding-right: 20px;
  color: white;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.MuiSvgIcon-root {
  color: #ffffff;
}

/* Hero Section styling */
.Home {
  background-image: url('public/images/Background.png');
  background-position: center;
  background-size: cover;
  height: 990px;
}
.heroSection {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  background: rgba(248, 248, 248, 0.77);
  backdrop-filter: blur(4.5px);
  width: 489px;
  height: 358px;
  flex-shrink: 0;
  margin: 15rem 0;
  margin-left: 3rem;
  margin-bottom: 500px;
}
.heroSection h1 {
  text-align: start;
  color: #506d3b;
  font-size: 45px;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 15px;
}
.heroSection h1 span {
  color: #82a486;
}
.heroSection p {
  font-family: 'Raleway', sans-serif;
  color: #5a6136;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%;
  text-align: start;
  align-self: start;
  margin-left: 30px;
  padding-bottom: 15px;
}
.heroSection button {
  align-self: start;
  margin-left: 30px;
  width: 190px;
  height: 50px;
  background-color: #354733;
  border-radius: 7px;
  color: white;
}
.heroSection button:hover {
  background-color: #82a486;
  cursor: pointer;
}
svg {
  fill: linear-gradient(0deg, #fff 6.17%, rgba(255, 255, 255, 0) 74.45%);
  width: 1783px;
  height: 206px;
}
svg path {
  width: 1783px;
  height: 206px;
}
.savElement {
  width: 1057px;
  height: 206px;
  flex-shrink: 0;
  margin-bottom: 20px;
}

/* PlantsCare section */
.plantsCare {
  display: flex;
  padding: 0 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 82px;
  align-self: stretch;
}
.plantsCareTitle {
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  color: #506d3b;
  font-style: bold;
}
.plantsCareTitle h2 {
  color: 354733;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}
.plantsCareTitle h2 span {
  color: #8a9b6e;
}
.plantsCareTitle p {
  color: #a4b6a6;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 174.188%; /* 27.87px */
  letter-spacing: 0.08px;
}
.plantsCardContainer {
  display: flex;
  align-items: flex-start;
  gap: 82px;
  align-self: stretch;
}
.cardsInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
}
.cardImg {
  border-radius: 50px;
  background: var(--primary-lunar-green, #354733);
  display: flex;
  width: 72px;
  height: 72px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardsInfo p {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #7b8f7d;
}
.cardsInfo h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

/* Best Seller itams */
.bsetSellerSection {
  margin-top: 250px;
}
.bsetSellerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
}
.bsetSellerContainer h1 {
  color: #506d3b;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  padding: 0 290px;
  padding-bottom: 29px;
  flex-shrink: 0;
}
.bsetSellerContainer h1 span {
  color: #8a9b6e;
}
.bsetSellerItems {
  display: flex;
  padding: 50px 0px;
  padding-left: 91px;
  align-items: center;
  gap: 48px;
  direction: ltr;
  overflow-x: auto;
  white-space: nowrap;
  height: 582px;
  width: 1338px;
}
.bsetItemsCard {
  display: inline-block;
  width: 277px;
  height: 408px;
  gap: 32px;
  flex-shrink: 0;
  border-radius: 36px;
  background: #b9c7b7;
  box-shadow: 30px 30px 45px 0px rgba(69, 96, 64, 0.22);
}

.HandleTextOfItemsCard {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  flex-shrink: 0;
}
.cardImage {
  width: 168px;
  height: 240px;
}
.cardImage img {
  flex-shrink: 0;
}
.cardFrame {
  display: flex;
  height: 100px;
  padding: 0px 32.378px;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  flex-shrink: 0;
}
.cardFrame h6 {
  display: flex;
  width: 205px;
  align-items: center;
}
.cardFrame p {
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: flex-start;
}
.cardFrame p span {
  color: rgb(229, 87, 87);
  padding-left: 20px;
  text-decoration: line-through;
}
.cardFrame button {
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  border-radius: 19px;
  border: 1.619px solid var(--primary-avacado, #8a9b6e);
  background: var(--wisper, #f0f1ee);
  height: 32px;
  width: 96px;
  padding: 0 12.951px;
  justify-content: center;
  align-items: center;
}

/* Categories Section*/
.categoriesSection {
  padding-top: 750px;
  width: 100%;
  height: 400px;
  flex-shrink: 0;
  background: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 96px;
}
.categoriesHeadline {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.categoriesHeadline h1 {
  color: #506d3b;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  padding: 0 290px;
  flex-shrink: 0;
}
.categoriesHeadline p {
  color: #a4b6a6;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 174.188%; /* 27.87px */
  letter-spacing: 0.08px;
  padding-bottom: 80px;
}
.categoriesList {
  width: 100%;
  height: 841px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  flex-shrink: 0;
  background: rgba(69, 96, 64, 0.22);
}
.categoriesList p {
  padding-top: 15px;
}
.categoriesImage {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 450px;
}
.categoriesMainImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.categoriesMainImage button {
  font-family: 'Raleway', sans-serif;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #fff;
}
.categoriesMainImage button svg {
  width: 20px;
}

/* Footer Desgins  */
.footerContanier {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 700px;
  width: 100%;
  height: 250px;
  background: #5f705b;
  color: #edeaea;
}
.footerNameNInfo {
  align-self: self-start;
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 500px;
  gap: 20px;
}
.footerName {
  align-self: start;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  width: 231px;
}
.footerName h1 {
  align-self: self-start;
  text-align: start;
  font-size: 30px;
}
.footerName p {
  font-family: 'Raleway', sans-serif;
  align-self: self-start;
  text-align: start;
  width: 174px;
  height: 55px;
}
.footerName svg {
  width: 20px;
}
.socailMediaContanier {
  align-content: start;
  width: 229px;
  height: 55px;
  padding-right: 110px;
}
.socailMedia {
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-direction: row;
  text-decoration: none;
  font-size: 30px;
}
.socailMedia li {
  padding: 0 10px;
}
.footerInfo {
  padding-left: 520px;
}
.footerList {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  text-align: start;
  padding-top: 11px;
}

.rightReserved {
  font-family: 'Raleway', sans-serif;
  align-self: self-start;
  padding-top: 20px;
  padding-left: 200px;
}

/* Products styling */
.products {
  background-color: #b9c7b7;
  height: 100vh;
}
.products h2 {
  padding-top: 30px;
  padding-left: 310px;
  padding-bottom: 10px;
  font-size: 20px;
}
.productsSection {
  display: flex;
  justify-content: center;
  align-items: start;
}
.productsfilteringSection {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: self-start;
}
.productsListContainer {
  padding-top: 40px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  direction: ltr;
  overflow-x: auto;
  white-space: nowrap;
}

.productsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 700px;
}
.productsList img {
  width: 200px;
}
.productCard {
  display: inline-block;
  width: 277px;
  height: 408px;
  gap: 32px;
  flex-shrink: 0;
  border-radius: 36px;
  background: #fff;
  box-shadow: 30px 30px 45px 0px rgba(69, 96, 64, 0.22);
  margin: 10px;
}
.productCard button {
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  border-radius: 19px;
  border: 1.619px solid #8a9b6e;
  background: var(--wisper, #f0f1ee);
  height: 32px;
  width: 96px;
  padding: 0 12.951px;
  justify-content: center;
  align-items: center;
}
.oneProduct {
  background-color: #8a9b6e;
}
#linkToProductDetails {
  font-size: 10px;
  border-radius: 10px;
  border: 1px solid #8a9b6e;
  background-color: #fff;
}

/* Login styling */
.loginPage {
  background-color: #b9c7b7;
  height: 100vh;
}
.loginPage h1 {
  padding-top: 30px;
  font-size: 30px;
}
.formContainer {
  margin-top: 50px;
}

/* Cart styling */
.cartItem {
  background-color: #e4e8e2;
}
.cartButtons .MuiSvgIcon-root {
  color: #506d3b;
}

/*Admin Page styling*/

#adminPageTitle {
  font-size: 25px;
  padding: 20px 0;
}
.adminPage {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0;
  margin-top: 54px;
}
.adminLeftDashborad {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: self-start;
  /* background-color: #a4b6a6; */
}
.adminRightDashborad {
  padding-top: 0px;
  border-radius: 6px;
}
.adminLeftPage .MuiList-root {
  height: 84.7vh;
}
#adminProductImage {
  width: 40px;
  height: 45px;
}
.adminButton .MuiSvgIcon-root {
  color: #a4b6a6;
}
.adminProductPage .MuiSvgIcon-root {
  color: #a4b6a6;
}
#addNewProduct {
  margin-top: 20px;
}
.during-popup {
  background: linear-gradient(rgba(172, 166, 166, 0.7), rgba(157, 152, 152, 0.7));
}
.popUp {
  position: fixed;
  left: 30%;
  top: 10%;
  width: 50%;
  padding-bottom: 15px;
  border: 1px solid #011627;
  border-radius: 1em;
  box-shadow: -2px 5px 5px #395635;
  background-color: #fdfffc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #011627;
}
.popUpCloseButton {
  margin-left: 530px;
  padding-top: 10px;
}
.popUpCloseButton .MuiSvgIcon-root {
  color: #a4b6a6;
}
