@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@300&family=Syne:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@300&family=Raleway:wght@200;400&family=Syne:wght@600&display=swap');

#root {
  max-width: 1880px;
  margin: 0 auto;
  text-align: center;
}
.App {
  font-family: 'Handlee', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Syne', sans-serif;
}
.typewriter-animation {
  display: inline-block;

  overflow: auto;
  white-space: nowrap;
  animation: typing 2s steps(20) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}
/* NavBar styling */
.navBarElements {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  width: 100%;
  gap: 29px;
  /* background-color: #ffffff; */
}
.navBarNewBackground {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1.5rem;
  background-color: #a4b6a6;
  width: 100%;
}
.navBarNewBackground li {
  color: #ffffff;
  cursor: pointer;
}
#scrollBackground {
  background-color: #5b715e;
}
#scrollBackground li {
  color: #ffffff;
  cursor: pointer;
}
.listNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.elementNavBar {
  padding: 0 30px;
  color: #91948f;
}
.elementNavBar:hover {
  color: #ffffff;
}
#cartItem {
  margin-right: -67px;
}
#loginItem {
  /* margin-right: 357px; */
}
#logoutItem {
  margin-right: 100px;
}
#navbarLogo {
  text-align: center;
  padding-left: 120px;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}
.MuiSvgIcon-root {
  color: #ffffff;
}
#profileItem {
  padding-left: 70px;
  align-self: end;
}
/* Hero Section styling */
.Home {
  background-image: url('public/images/newBackground.jpg');
  background-position: center;
  background-size: cover;
  height: 990px;
}
.heroSection {
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding-top: 400px;
  flex-shrink: 0;
  margin-left: 3rem;
  margin-bottom: 500px;
}
.heroBoday {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  align-self: self-start;
  width: 489px;
  height: 358px;
  background: rgba(248, 248, 248, 0.77);
  border-radius: 16px;
  backdrop-filter: blur(4.5px);
}
.heroSection h1 {
  text-align: start;
  color: #506d3b;
  font-size: 45px;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  flex-direction: column;
  padding: 20px 15px 25px 20px;
}
.heroSection h1 span {
  color: #82a486;
}
.heroSection p {
  font-family: 'Raleway', sans-serif;
  color: #5a6136;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%;
  text-align: start;
  align-self: start;
  margin-left: 30px;
  padding-bottom: 15px;
}
.heroSection button {
  align-self: start;
  margin-left: 30px;
  width: 190px;
  height: 50px;
  background-color: #354733;
  border-radius: 7px;
  color: white;
}
.heroSection button:hover {
  background-color: #82a486;
  cursor: pointer;
}
svg {
  fill: linear-gradient(0deg, #fff 6.17%, rgba(255, 255, 255, 0) 74.45%);
  width: 1783px;
  height: 206px;
}
svg path {
  width: 1783px;
  height: 206px;
}
.savElement {
  width: 1057px;
  height: 206px;
  flex-shrink: 0;
  margin-bottom: 20px;
}

/* PlantsCare section */
.plantsCare {
  display: flex;
  padding: 0 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 82px;
  align-self: stretch;
}
.plantsCareTitle {
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  color: #506d3b;
  font-style: bold;
}
.plantsCareTitle h2 {
  color: 354733;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}
.plantsCareTitle h2 span {
  color: #8a9b6e;
}
.plantsCareTitle p {
  color: #a4b6a6;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 174.188%; /* 27.87px */
  letter-spacing: 0.08px;
}
.plantsCardContainer {
  display: flex;
  align-items: flex-start;
  gap: 82px;
  align-self: stretch;
}
.cardsInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
}
.cardImg {
  border-radius: 50px;
  background: var(--primary-lunar-green, #354733);
  display: flex;
  width: 72px;
  height: 72px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardsInfo p {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #7b8f7d;
}
.cardsInfo h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

/* Best Seller itams */
.bsetSellerSection {
  margin-top: 250px;
}
.bsetSellerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
}
.bsetSellerContainer h1 {
  color: #506d3b;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  padding: 0 290px;
  padding-bottom: 29px;
  flex-shrink: 0;
}
.bsetSellerContainer h1 span {
  color: #8a9b6e;
}
.bsetSellerItems {
  display: flex;
  padding: 50px 0px;
  padding-left: 91px;
  align-items: center;
  gap: 48px;
  direction: ltr;
  overflow-x: auto;
  white-space: nowrap;
  height: 582px;
  width: 1338px;
}
.bsetItemsCard {
  display: inline-block;
  width: 277px;
  height: 408px;
  gap: 32px;
  flex-shrink: 0;
  border-radius: 36px;
  background: #b9c7b7;
  box-shadow: 30px 30px 45px 0px rgba(69, 96, 64, 0.22);
}

.HandleTextOfItemsCard {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  flex-shrink: 0;
}
.cardImage {
  width: 168px;
  height: 240px;
}
.cardImage img {
  flex-shrink: 0;
}
.cardFrame {
  display: flex;
  height: 100px;
  padding: 0px 32.378px;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  flex-shrink: 0;
}
.cardFrame h6 {
  display: flex;
  width: 205px;
  align-items: center;
}
.cardFrame p {
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: flex-start;
}
.cardFrame p span {
  color: rgb(229, 87, 87);
  padding-left: 20px;
  text-decoration: line-through;
}
.cardFrame button {
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  border-radius: 19px;
  border: 1.619px solid var(--primary-avacado, #8a9b6e);
  background: var(--wisper, #f0f1ee);
  height: 32px;
  width: 96px;
  padding: 0 12.951px;
  justify-content: center;
  align-items: center;
}

/* Categories Section*/
.categoriesSection {
  padding-top: 750px;
  width: 100%;
  height: 400px;
  flex-shrink: 0;
  background: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 96px;
  margin-bottom: 550px;
}
.categoriesHeadline {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.categoriesHeadline h1 {
  color: #506d3b;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  padding: 0 290px;
  flex-shrink: 0;
}
.categoriesHeadline p {
  color: #a4b6a6;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 174.188%; /* 27.87px */
  letter-spacing: 0.08px;
  padding-bottom: 80px;
}
.categoriesList {
  width: 100%;
  height: 841px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  flex-shrink: 0;
  background: rgba(69, 96, 64, 0.22);
}
.categoriesList p {
  padding-top: 15px;
}
.categoriesImage {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 450px;
}
.categoriesMainImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.categoriesMainImage button {
  font-family: 'Raleway', sans-serif;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #fff;
}
.categoriesMainImage button svg {
  width: 20px;
}

/* Footer Desgins  */
.footerContanier {
  display: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 700px; */
  width: 100%;
  height: 250px;
  background: #5b715e;
  color: #edeaea;
}
.footerNameNInfo {
  align-self: self-start;
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 500px;
  padding-top: 30px;
  gap: 20px;
}
.footerName {
  align-self: start;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  width: 231px;
}
.footerName h1 {
  align-self: self-start;
  text-align: start;
  font-size: 30px;
}
.footerName p {
  font-family: 'Raleway', sans-serif;
  align-self: self-start;
  text-align: start;
  width: 174px;
  height: 55px;
}
.footerName svg {
  width: 20px;
}
.socailMediaContanier {
  align-content: start;
  width: 229px;
  height: 55px;
  padding-right: 110px;
}
.socailMedia {
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-direction: row;
  text-decoration: none;
  font-size: 30px;
}
.socailMedia li {
  padding: 0 10px;
}
.footerInfo {
  padding-left: 520px;
}
.footerList {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  text-align: start;
  padding-top: 11px;
}

.rightReserved {
  font-family: 'Raleway', sans-serif;
  align-self: self-start;
  padding-top: 20px;
  padding-left: 200px;
}

/* Products styling */
.products {
  padding-top: 10px;
  background-color: #fff;
  max-height: 100vh;
  padding-bottom: 900px;
}

.products h2 {
  padding-top: 30px;
  padding-left: 310px;
  padding-bottom: 10px;
  font-size: 20px;
}
.productsSection {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 0;
}
.productsfilteringSection {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: self-start;
  width: 25%;
}
.productsfilteringSection .MuiSvgIcon-root,
.productsfilteringSection .MuiFormLabel-root {
  color: #82a486;
}
.MuiInputLabel-root.Mui-focused {
  color: #8a9b6e;
}
.productsListAndLoading {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-top: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  border-radius: 16px;
  white-space: nowrap;
  width: 70%;
}

.linearProgress {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  width: 90%;
}

.productsListContainer {
  margin-bottom: 20px;
  padding-right: 60px;
  padding-left: 10px;
  border-radius: 16px;
  display: flex;
  align-items: end;
  direction: ltr;
  overflow-x: auto;
  white-space: nowrap;
}
.productsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 670px;
}

.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 277px;
  height: 408px;
  flex-shrink: 0;
  border-radius: 36px;
  background: #fff;
  align-self: start;
  box-shadow: -2px 0px 13px 2px rgba(69, 96, 64, 0.22);
  margin: 10px;
}
.productsImageContainer {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 70%;
  height: 60%;
}
.productImage {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.productNamePrice {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 20px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
}
.productNamePrice h1,
.productNamePrice p {
  padding-left: 5px;
  padding-bottom: 5px;
}

.productCard button {
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  border-radius: 19px;
  border: 1.619px solid #8a9b6e;
  background: var(--wisper, #f0f1ee);
  height: 32px;
  width: 96px;
  padding: 0 12.951px;
  justify-content: center;
  align-items: center;
}
.productsButton button:hover {
  background-color: #7b8f7d;
}
.pagination {
  display: inline-flex;
  /* padding-top: 20px; */
  padding-left: 260px;
}
.pagination .MuiSvgIcon-root {
  color: #506d3b;
}
#linkToProductDetails {
  font-size: 13px;
  color: #5f705b;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background-color: #fff;
  margin-left: 35px;
}

/* Product Details Page */
.oneProduct {
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.oneProduct h1 {
  font-size: 30px;
}
.displayProductsDetails {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: -1px 1px 20px 0px rgba(139, 155, 137, 0.22);
  padding: 25px 0px 30px 0px;
  border-radius: 4px;
  width: 800px;
  height: 560px;
}
.displayProductsDetails .MuiGrid-root {
  padding-left: 200px;
}
.displayProductsDetails .MuiGrid-root .MuiGrid-container {
  margin-left: -35px;
}
.bottomBorder {
  display: flex;
  border-bottom: 0.5px solid rgb(0, 0, 0);
  width: 100%;
}
.backButton {
  padding-left: 20px;
  padding-bottom: 10px;
}
.backButton .MuiSvgIcon-root {
  color: #395635;
}
.insideProductDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 800px;
}
.productDetailsImage {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.productDetailsImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Maintain aspect ratio */
}
.productsInfo {
  border-left: 0.5px solid rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  padding: 0 30px;
  text-align: start;
}
#productName {
  padding-top: 40px;
}
#subName {
  padding-bottom: 30px;
  color: #798289;
}
#productPrice {
  font-size: 25px;
  color: #5b715e;
  padding-bottom: 15px;
}
#productDescription {
  padding-bottom: 10px;
}
#productSize {
  padding-right: 20px;
}
.productButton {
  margin-top: 10px;
}
.productsInfo button {
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  border-radius: 10px;
  border: 1.619px solid #8a9b6e;
  background: var(--wisper, #f0f1ee);
  height: 32px;
  width: 96px;
  padding: 0 12.951px;
  justify-content: center;
  align-items: center;
}
.productsInfo button:hover {
  background-color: #7b8f7d;
}
.takeCareContainer {
  margin: 30px 0;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productCare {
  padding-right: 15px;
  align-items: center;
  text-align: center;
}
.productTakeCare {
  padding: 0px 25px;
  border-left: 0.5px solid rgb(0, 0, 0);
  align-items: center;
  text-align: center;
}
.takeCareContainer .MuiSvgIcon-root {
  color: #506d3b;
}
/* .customPagination .MuiButtonBase-root {
  /* background-color: rgb(119 168 130 / 59%); */

/* Login styling */
.loginPage {
  padding-top: 1px;
  background-color: #fff;
  height: 100vh;
}
.login .MuiAvatar-root,
.register .MuiAvatar-root {
  background-color: #506d3b;
}

.tabsLoginSignup {
  display: flex;
  justify-content: center;
  align-items: start;
}
.loginPage h1 {
  padding-top: 30px;
  font-size: 30px;
}
.formContainer {
  margin-top: 50px;
}
.Toastify__toast,
.Toastify__toast-body {
  max-height: 60px;
}

/* Cart styling */
.cartPage {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.cartPage .Toastify__toast {
  max-height: 120px;
  max-width: 120px;
}
.emptyCart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartListContainer {
  margin: 40px 0;
  /* padding-top: 40px; */
  width: 70%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.cartList {
  width: 60%;
  height: 100%;
  background-color: #e4e9e4;
}
.cartListTitle {
  width: 90%;
  height: 62px;
  margin-left: 20px;
  border-bottom: 0.5px solid rgb(0, 0, 0);
  padding: 10px 40px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scrollCartItems {
  height: 90%;
  direction: ltr;
  overflow-x: auto;
  white-space: nowrap;
}
.orderSummary {
  text-transform: uppercase;
  font-size: 18px;
  height: 100%;
  width: 40%;
  background-color: #f4f4f4;
}
.orderSummaryTitle {
  border-bottom: 0.5px solid rgb(0, 0, 0);
  width: 90%;
  height: 62px;
  margin-left: 20px;
  padding: 10px 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemsPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}
.shippingTypeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: start;
  padding: 20px 40px;
}
.shippingTypeContainer #shipping {
  align-self: self-start;
  text-align: start;
}
.shippingType {
  align-self: self-start;
  width: 329px;
  padding-top: 10px;
  padding-right: 50px;
}
.totlaCost {
  border-top: 0.5px solid rgb(0, 0, 0);
  width: 80%;
  margin-top: 30px;
  margin-left: 30px;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px 0px 10px;
}
.restOfSummery {
  width: 80%;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
}
.checkout {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-left: 40px;
}
.checkout #checkoutButton {
  align-self: self-start;
}
.cartItem {
  background-color: #e4e9e4;
}
.cartButtons .MuiSvgIcon-root {
  color: #506d3b;
}
.orderSummary .backButton {
  padding-top: 30px;
  margin-right: 160px;
}
/*Admin Page styling*/
#adminPageTitle {
  font-size: 25px;
  padding: 20px 0;
}
.adminPage {
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 0;
  margin-top: 78px;
}
.adminAppBar .MuiToolbar-root,
.leftDrawer .MuiPaper-root {
  background-color: #a4b6a6;
}
.adminLeftDashborad {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: self-start;
}

.formProduct {
  height: 600px;
}

.adminRightDashborad {
  width: 100%;
  padding-bottom: 60px;
  border-radius: 6px;
  min-height: 100vh;
}
.adminRightDashborad .MuiToggleButtonGroup-root {
  margin-right: 0;
  width: 100%;
}
.adminRightDashborad .MuiButtonBase-root {
  width: 100%;
}
.adminLeftPage .MuiList-root {
  height: 119.69999999999999vh;
  z-index: -300;
}
#adminProductImage {
  width: 40px;
  height: 45px;
}
.adminButton .MuiSvgIcon-root {
  color: #a4b6a6;
}
.adminProductPage .MuiSvgIcon-root {
  color: #a4b6a6;
}
#addNewProduct,
#addNewCategory {
  margin-top: 20px;
}
.during-popup .MuiBox-root {
  background: linear-gradient(rgba(172, 166, 166, 0.7), rgba(157, 152, 152, 0.7));
}
.popUp {
  position: fixed;
  left: 30%;
  top: 13%;
  padding-bottom: 25px;
  border: 1px solid #011627;
  border-radius: 1em;
  box-shadow: -2px 5px 5px #395635;
  background-color: #fdfffc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #011627;
}
.popUpCloseButton {
  margin-left: 530px;
  padding-top: 10px;
}
.popUpCloseButton .MuiSvgIcon-root {
  color: #a4b6a6;
}
.titleAdminProducts {
  color: #506d3b;
  margin: 0 250px;
  padding-left: 190px;
  margin-bottom: 20px;
  font-size: 25px;
}
.subTitleAdmin {
  color: #506d3b;
  padding-right: 40px;
  font-size: 20px;
  margin-bottom: 20px;
}
.titleAdminCategory {
  color: #506d3b;
  margin: 0 250px;
  padding-left: 146px;
  margin-bottom: 20px;
  font-size: 25px;
}
/* profile desgin*/
.profilePage {
  background-color: #011627;
}
.profileImage {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.profileImage img {
  position: absolute;
  top: 20%;
  left: 15%;
  width: 70%;
  height: 60%;
  border-radius: 50%;
  object-fit: cover; /* Maintain aspect ratio */
}
.profileInfo {
  border-left: 0.5px solid rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  padding: 107px 51px;
  text-align: start;
}
.profileButton {
  margin-top: 10px;
}
.profileButton button {
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  border-radius: 10px;
  border: 1.619px solid #8a9b6e;
  background: var(--wisper, #f0f1ee);
  height: 32px;
  width: 130px;
  padding: 0 12.951px;
  justify-content: center;
  align-items: center;
}
.profileButton button:hover {
  background-color: #7b8f7d;
}
.duringPopup {
  background: linear-gradient(rgba(172, 166, 166, 0.7), rgba(157, 152, 152, 0.7));
}
#popUp {
  position: fixed;
  left: 30%;
  top: 30%;
  padding-bottom: 15px;
  border: 1px solid #011627;
  border-radius: 1em;
  box-shadow: -2px 5px 5px #395635;
  background-color: #fdfffc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #011627;
}

.notFoundPage {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #395635;
  gap: 30px;
}

.notFoundPage .subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}
.notFoundPage .titleAndSubtitle {
  padding-top: 71px;
}
#f404 {
  color: #4fad0d;
}

/* Forgot and reset password page */
.forgotPasswordPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
#passContainer {
  margin-top: 0;
}
.forgotPassForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  gap: 20px;
  margin: 10px 30px;
}

#forgotPassSubtitile {
  margin-top: 50px;
  display: block;
  width: 340px;
  text-align: start;
  color: #9da39b;
}
.resetPassForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  gap: 10px;
  margin: 10px 30px;
}

#resetPassSubtitile {
  margin-top: 70px;
  display: block;
  width: 340px;
  text-align: start;
  color: #9da39b;
}
.adminAnaylticsPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
